/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared Styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2 {
  margin: 0;
}

body {
  padding: 0;
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
}

.color-primary {
  color: #e95a08;
}

.text-primary {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  background-color: #e95a08;
  padding: 0.625rem 3rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.footer-text{
  font-family: "Inter", sans-serif;
  color: #6B7280;
}

/* Header Section Styles */

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-menu ul {
  display: flex;
  gap: 3rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

/* Banner Section Styles */
.banner-container {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
  display: flex;
  align-items: flex-end;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Plant Section Styles */
.plant-container {
  text-align: center;
  margin-bottom: 13.125rem;
}

.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}

.plant-card {
  width: 16.875rem;
  height: 30rem;
}

.plant-title {
  font-size: 3.125rem;
  font-weight: bold;
}

.plant-name {
  font-weight: 500;
  font-size: 1.375rem;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 20px;
}

.plant-price {
  font-weight: bold;
  font-size: 1.375rem;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Plants Lover Section Styles */
.plants-lover-container {
  margin-bottom: 8.3rem;
  display: flex;
  gap: 3.75rem;
}

.plants-lover-img {
  position: relative;
}

.trust-badge {
  width: 17.875rem;
  height: 17.875rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, -50%);
}

.plants-lover-title {
  font-size: 3.125rem;
  font-weight: bold;
}

.plants-lover-contents li {
  margin-bottom: 22px;
}

/* Latest Deals Sections Styles */
.latest-deal-contents {
  text-align: center;
  margin-bottom: 120px;
}

.latest-deal-title {
  font-weight: bold;
  font-size: 3.125rem;
}

.latest-deal-img {
  display: grid;
  gap: 1.563rem;
  grid-template-columns: 1fr 2fr;
  min-height: 26.4rem;
  margin-bottom: 120px;
}

.bloom {
  background-image: url("../assets/deal-bloom.png");
  width: 47rem;
  height: 26.4rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-bottom: 1.5rem;
}

.ana {
  background-image: url("../assets/deal-ana.png");
  width: 47rem;
  height: 26.4rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.zabo {
  background-image: url("../assets/deal-zabo.png");
  width: 47rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
  height: 100%;
  min-height: 26.4rem;
}

.vertical-collage {
  min-height: 26.4rem;
}

.vertical-collage p {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}

.vertical-collage a {
  color: white;
  font-weight: 500;
}

.zabo p {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.zabo a {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}

.bloom-texts,
.ana-texts,
.zabo-texts {
  text-align: center;
}

/* Join Section Styles */
.join-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 33rem;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-title {
  font-size: 3.125rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.join-input-btn {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.join-input-btn [type="email"] {
  height: 2rem;
  max-width: 40.25rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1.25rem;
}

/* Footer Section Styles */

.footer-container{
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  gap: 6rem;
}

.footer-description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}

.footer-links1,
.footer-links2{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links1 a,
.footer-links2 a{
  text-decoration: none;
}

.footer-social-links{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 576px) {
  body {
    margin: 0 1rem;
  }

  .menu {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
  }

  .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .plants-lover-container{
    flex-direction: column;
  }

  .trust-badge {
    display: none;
  }

  .latest-deal-img {
    grid-template-columns: 1fr;
  }
  .zabo {
    margin-top: 1.5rem;
    height: 50%;
  }

  .join-title {
    font-size: 1.25rem;
  }

  .join-input-btn {
    width: 25rem;
    justify-items: center;
  }

  .footer-container{
    flex-direction: column;
    gap: 2.8rem;
  }
}
